.input{
    
        width: 80%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        border:2px solid var(--black);
        padding: 0 1rem;
        


}

.textarea{
        width: 80%;
        height: 150px;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        border:2px solid var(--black);
        padding: 0 0.5rem;
        resize: none;
        margin-top: 10px;
}
